<div class="container pl-0 pr-0 d-flex justify-content-center">
  <div class="col-md-8 col-lg-6 col-xl-5">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="p-0 border rounded p-3 shadow background-color">
        <h2 class="text-center">Регистрация</h2>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Пароль</label>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            <small class="form-text text-muted">не менее <%= @minimum_password_length %> символов</small>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Подтверждение пароля</label>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <button type="submit" class="btn btn-primary">Зарегистрироваться</button> или <%= render "devise/shared/links" %>
        </form>
      </div>
    <% end %>
  </div>
</div>
