<div class="container pl-0 pr-0 d-flex justify-content-center">
  <div class="col-md-8 col-lg-6 col-xl-5">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="p-0 border rounded p-3 shadow background-color">
        <h2 class="text-center">Изменить пароль</h2>
        <form>
          <div class="form-group">
            <label for="exampleInputPassword1">Новый пароль</label>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            <small class="form-text text-muted">не менее <%= @minimum_password_length %> символов</small>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Подтверждение пароля</label>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <button type="submit" class="btn btn-primary">Изменить пароль</button>
        </form>

        <div class="mt-4">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
